* {
  box-sizing: border-box;
}

/* Pequeños reseteos */
h1,
h3,
h4,
p {
  margin: 0px;
  padding: 0.5em;
}
body {
  background-color: white;
}

/* Para cambir el color de letra de ciertos elementos */
.verde {
  color: #0c9b3b;
}

/* Contenedor general*/
.container {
  font-family: "Righteous", cursive;
  margin: 20px auto;
  width: 90%;
}

/* Parte del logo y menú */
header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.icon {
  display: none;
}

.menu_item {
  padding: 0.1em;
  /*display: none;*/
  font-size: 0.75em;
}

/*Estilos parte principal*/
main {
  background-color: #666666;
  display: flex;
  flex-wrap: wrap;
}

main section {
  width: 100%;
}

section.main_text {
  color: white;
  font-weight: bolder;
  padding: 0.5em;
}

section.images {
  display: flex;
  flex-wrap: wrap;
}

section.images img {
  height: 100px;
  width: 25%;
}

.hidden {
  display: none;
}

/* Para el caso de pantalla superior a 576px */
@media (min-width: 576px){

  .icon{
    display: initial;
    float: left;
    font-size: 20px;
    margin-right: 10px;
  }
  .menu_item{
    float: left;
    font-size: 14pt;
  }
  .main_text{
    float: left;
    width: 50%;
  }
  .images{
    float: left;
    width: 50%;
  }
  section.images img{
    width: 50%;
  }
  .novedades{
    width: 100%;
  }
  .novedades h2{
    float: left;
    width: 20%;
  }
  article{
    width: 25%;
    float: left;
  }
}

/* Para el caso de pantalla superior a 992px */
@media (min-width: 992px){
  .images{
    order: 1;  
  }
  .main_text{
    order: 2;  
  }
  .hidden{
    display: initial;
  }
  section.images img{
    width: 33.3%;
  }

}
