.container{
    position: relative;
}
.caja{
  width: 180px;
  height: 180px;
  background-color: #30B037;
  color: #FFF;
  text-align: center;
  line-height: 180px;
  margin: 15px;
  float: left;
  font-size: 18px;
  font-family: Arial;
}
.caja:hover{
  transition: 2s;
  transition-delay: .5s;
  cursor: pointer;
}
.caja1{
  background-color: #C0392B;
}
.caja1:hover{
  background-color: blue;
}
.caja2{
  background-color: #9B59B6;
}
.caja2:hover{
  font-size: 200%;
}
.caja3{
  background-color: #2980B9;
}
.caja3:hover{
  color:black;
}
.caja4{
  background-color:#3498DB;
}
.caja4:hover{
  line-height: 100px;
}
.caja5{
  background-color:#17A589;
}
.caja5:hover{
  border-radius: 50px;
}
.caja6{
  background-color: #F1C40F;
}
.caja6:hover{
  box-shadow: 10px 10px 10px black;
}
.caja7{
  background-color: #E67E22;
}
.caja7:hover{
  opacity: 20%;
}
.caja8{
  background-color: #95A5A6;
}
.caja8:hover{
  border: 10px solid black;
}
.caja9{
 background-color: #2C3E50;
}
.caja9:hover{
  margin: 250px;
}
.caja10{
  background-color: #000000;
}
.caja10:hover{
  padding: 50px;

}
