@font-face {
    font-family: "SigmarOne";
    src: url("sigmar-one.woff");
  }
body{
    background-color: #E9F2FB;
    font-size: 12pt;
    text-align: justify;
    padding: 0 50px;
    font-family: sans-serif;
}
h1{
    color:black;
    font-family: "SigmarOne";
    text-align: center;
    font-size: 36pt;
    margin: 0px;
}
h2{
    color:#7A99B8;
    font-family: "SigmarOne";
    font-size: 36pt;
    text-shadow: black 3px 3px;
    text-transform: capitalize;
    margin: 0;

}   
strong{
    font-size: 15pt;
    font-style: oblique;
    text-decoration: underline;
}
span{
    background-color: white;
    color: red;
    font-weight: bold;
    margin: 0px 0px 0px 5px;
    padding: 0px 10px 0px 5px;
}
time{
    color:blue;
}
hr{
    width: 66%;
    height: 10px;
    background-color:#7A99B8;
    border: black 1px solid;
    border-radius: 5px;
    margin: 40px auto;
    clear: both;
}
img{
    border: 5px #7A99B8 solid; 
    padding: 5px;
}
img.yorkshire{
    float: left;
    margin: 16px 10px 10px 0;
}
img.dogo{
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}
p.izquierda {
    float: left;
    width: 33%;
  }
  
  p.centrado {
    float: left;
    width: 33%;
    text-align: center;
  }
address{
    text-align: right;
    font-style: unset;
}