body{
    background-color: grey;
}
h1{
    text-align: center;
}
a{
    text-decoration: none;   
     color: black;
}
nav{
    padding-top: 30px;
    width: 50%;
    margin: auto;
}
nav ul li{
    height: 200px;
    width: 33%;
    float: left;
    list-style: none;
    color: black;
}
a::before{
    display: flex;
    width: 20px;
    height: 20px;
}
a[rel='next']::before{
    content: url(../iconos/news.svg);
}
a[rel='tag']::before{
    content: url(../iconos/tienda.svg);

}
a[rel='bookmark']::before{
    content: url(../iconos/star.svg);

}
a[rel='help']::before{
    content: url(../iconos/pdf.svg);

}
a[rel='search']::before{
    content: url(../iconos/search.svg);

}
a[rel='nofollow']::before{
    content: url(../iconos/protection.svg);
}
